@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

:root {
  --primary-color: #ffa500;
}


body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Lexend';
  color: black;

}

main{
    width: 900px;
    background-color: #E2E2E2;
    margin: 0px auto 0px auto;
}

main img{
  margin-bottom: auto;
  margin-top: auto;
  display: block;
}

/*header*/
nav{
    display: flex;
    place-content: space-between;
    padding: 0px 50px;
    background-color: rgb(30, 35, 40);
    height: 50px;
}

nav a{
  padding: 5px;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  color: linen;
  text-decoration: none;  
}

.logo{
  font-family: 'Lato';
  font-weight: 700;
  font-size: 120%;
  letter-spacing: .1em;
}

.logo span{
  color: var(--primary-color);
}
/*Page d'acceuil*/
/*Ligne de couleur*/
.color-mark{
  background-color: var(--primary-color);
  height: 5px;
}

.home{
  background-color: white;
}

.hero{
  text-align: justify;
  font-size: 150%;
  padding: 10px 50px;
  font-family: 'Lato';
  letter-spacing: 2px;
  word-spacing: 5px;
  border: solid 2px;
}

.hero .big-logo{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.big-logo span{
  color: var(--primary-color);
}

/*Image du haut*/
.home-pic-top{
  margin-bottom :-10px;
  padding: 0px;
  position: relative;
  text-align: center;
}

/*Double image du bas*/
.home-duo-bot{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100%;
}

.bot-pic-left{
  position: relative;
  text-align: center;
}

.bot-pic-right{
  position: relative;
  text-align: center;
  object-fit: fill;
}

/* Debut du bouton spécial */
.container {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  font-family: 'Lato', sans-serif;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: rgba(0 , 0, 0, 0.60);
  border: 1px solid var(--primary-color);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: black;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}
/* Fin du bouton spécial */
/* Fin page d'acceuil */

/* Estimation btn*/
.estimation-cta{
  height: auto;
  background-color: white;
  padding: 25px;
}

.estimation-btn{
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
  width: 250px; 
  font-family: Lato;
  border: solid 2px var(--primary-color);
  background-color: rgb(20, 20, 30);
  border-radius: .3em;
  font-size: 24px;
}

.estimation-btn:hover{
  background-color: rgb(60, 60, 80);
}

.estimation-btn a{
  text-decoration: none;
  color: var(--primary-color);
}

/* Generic content */
.generic-content{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 4fr 5fr; 
  background-color: white;
}

.generic-content-reverse{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 5fr 4fr; 
}

.generic-pic{
  padding: 25px;
  display: block;
  margin: auto 0;
}

.generic-pic img{
width: 100%;
height: 100%;
}

.generic-txt{
  padding: 0px 25px;
  text-align: justify;
  font-size: 120%;
  margin: auto;
}

.border-left{
  border-left: solid;
  border-color: rgb(58, 58, 58);
}

.border-right{
  border-right: solid;
  border-color: rgb(58, 58, 58);
}

/* About */

.about{
  text-align: justify;
  background-color: white;
}

.contact h1,
.about h1{
  letter-spacing: .1em;
  color: var(--primary-color);
}

.history{
  padding: 25px;
}

.team{
  margin: 0px 25px;
}

.location {
  padding: 25px;
}

.guy{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 3fr; /* fraction*/
}

.guy-pic{
  padding-right: 25px;
  display: block;
  margin: auto 0;
}

.guy-pic img{
  width: 100%;
  height: 100%;
  }

.border-bot{
  border-bottom: solid;
  border-color: rgb(58, 58, 58);
}

.issou-map{
  display: block;
}

.issou-map iframe {
  width: 100%;
  height: 400px;
}

/*Legal Info*/
.annoying{
  padding: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.annoying .txt-scroll{
  height: 222px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  background-color: white;
}

.term-choice{
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  margin-bottom: 50px;
}

.term-choice .agreed a{
  text-decoration: none;
  color: white;
  size: 150%;
  padding: 10px 40px;
  border: solid;
  border-radius: .5em;
  background-color: dodgerblue;
}

.term-choice .decline-nt a{
  text-decoration: none;
  color: darkgray;
  padding: 10px 40px;
  border: solid;
  border-radius: .5em;
  background-color: lightgray;
  background-color: white;
}

/* Contact */

.contact {
  height: 100%;
  width: 100%;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.contact-top{
  text-align: center;
  width: 500px;
  text-align: justify;
}

.contact-cta {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
.contact button[type="submit"] {
  width: 100%;
  border: solid 1px;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Lato";
  font-weight: bold;
  letter-spacing: .1em;
  color:var(--primary-color);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(20, 20, 30);
  transition: 0.3s ease background-color;
}
.contact button[type="submit"]:hover {
  background-color: rgb(60, 60, 80);
}

/*Pricing*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.prices-table{
  padding: 25px 100px;
  background-color: white;
}

/*Drop Down*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(20, 20, 30);
}

/*Pied de page*/

iframe{
  width: 100%;
  height: 120px;
}

footer{
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  text-align: center;
  background-color: rgb(20, 20, 30);

}
footer a{
  color: #A2A2A2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}
